<div class="modal-shadow modal-error" data-ng-class="{ 'hide' : !vm.error.visible }">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{vm.error.title}}</h4>
      <button type="button" class="close" data-ng-click="vm.error.visible=false">&times;</button>
    </div>
    <div class="modal-body">
      <p>{{vm.error.message}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="vm.error.visible=false">Close</button>
    </div>
  </div>
</div>
