button {
  color        : $color-grey;
  font-size    : $button-font-size;
  font-weight  : bold;
  heigth       : $button-height;
  transition   : all 0.4s;

  &[disabled] {
    opacity : 0.5;
  }
}
