.modal-shadow {
  background : rgba(0,0,0,0.5);
  display    : flex;
  position   : absolute;
  left       : 0;
  top        : 0;
  width      : 100vw;
  height     : 100vh;

  .modal-content {
    margin : auto;

    max-width  : 30vw;
    min-width  : 20vw;

    .modal-footer, .modal-header, .model-body {
      padding : 10px 15px;
    }

    .modal-header {
      display : flex;

      .close {
        margin : auto 0px auto auto;
      }
    }
  }
}
