.toolbar {
  background : $color-light-blue;
  box-shadow : inset 0 0 0px 1px rgba(0,0,0,0.1);
  display    : flex;

  .toolbar-title {
    color       : $color-blue;
    font-size   : $toolbar-title-font-size;
    font-weight : bold;
    height      : 50px;
    line-height : 50px;
    margin-left : 10px;
  }

  .toolbar-search {
    display    : flex;
    flex-basis : 400px;
    position   : relative;

    input {
      border        : 0;
      border-radius : 4px;
      box-shadow    : inset 0 0 1px 0 $color-black;
      flex-grow     : 1;
      margin        : 10px 0 10px 30px;
      padding-left  : 10px;
    }

    i {
      cursor   : pointer;
      display  : flex;
      height   : 100%;
      position : absolute;
      right    : 10px;

      &:before {
        margin : auto;
      }

      &:hover {
        color : $color-blue;
      }
    }
  }

  .buttons {
    display      : flex;
    margin-left  : auto;
    margin-right : 10px;
    padding      : 10px;
  }
}
