
// Colors
$color-black          : black;
$color-blue           : #447e9b;
$color-light-blue     : #f0f5f9;
$color-red            : #f15062;
$color-grey           : #848484;
$color-lighter-grey   : #f3f3f3;
$color-light-grey     : #e4e8eb;
$color-light-grey-alt : #dddddd;
$color-dark-grey      : #676767;
$color-white          : white;


// Fonts
$font-size               : 13px;
$button-font-size        : 0.9rem;
$title-font-size         : 1.2rem;
$toolbar-title-font-size : 1.1rem;

// Buttons
$button-height : 30px;

// Inputs
$input-height  : 30px;
