.modal-error.modal-shadow {
  z-index : 20;

  .modal-content {
    background : $color-red;
    color      : $color-white;

    .modal-header {
      border : 0px;

      .close {
        text-shadow : none;
      }
    }

    .modal-footer {
      display : none;
    }
  }
}
