<!--
  The provider CRUD widget. It lists the providers, it allows to add a new one,
  delete one, or even edit the name of one.

  It also allows the user to check those providers that should be assigned to a
  client.
-->

<div class="provider-form">
    <p class="provider-label">Providers:</p>
    <div class="provider-body">
        <input type="text" placeholder="Enter new provider name" data-ng-model="vmProvider.newProviderName"/>
        <div class="provider-list">
            <div class="provider-list-item" data-ng-repeat="provider in vmProvider.providers track by provider.id">
                <input type="checkbox" data-ng-model="provider.checked" data-ng-change="vmProvider.onProviderCheckChanged(provider)"/>
                <input type="text" class="provider-name" placeholder="Enter a name.."
                       data-ng-model="provider.name"
                       data-ng-readonly="!provider.editOn"/>
                <i class="fa fa-times-circle btn-small-cancel" ng-click="vmProvider.cancelEdition(provider)"></i>
                <i class="fa fa-pencil-square-o btn-small-edit" data-ng-show="!provider.editOn" data-ng-click="vmProvider.startProviderEdition(provider)"></i>
                <i class="fa fa-floppy-o btn-small-save" data-ng-show="provider.editOn" data-ng-click="vmProvider.saveEditedProvider(provider)"></i>
                <i class="fa fa-trash btn-small-delete" data-ng-click="vmProvider.onDeleteProviderClick(provider)"></i>
            </div>
        </div>
    </div>
    <button type="button"
            class="provider-button"
            data-ng-click="vmProvider.onAddProviderClick(vmProvider.newProviderName)"
            data-ng-disabled="!vmProvider.newProviderName">
        Add Provider
    </button>
</div>
