<!--
  Usage:

-->

<div class="provider-form">
    <p class="provider-label">Providers:</p>
    <div class="provider-body">
        <input type="text" placeholder="Enter new provider name" data-ng-model="vmProvider.newProviderName"/>
        <div class="provider-list">
            <div class="provider-list-item" data-ng-repeat="provider in vmProvider.providers">
                <input type="checkbox"/>
                <p>{{provider.name}}</p>
                <i class="fa fa-pencil-square-o"></i>
                <i class="fa fa-trash" data-ng-click="vmProvider.onDeleteProviderClick(provider)"></i>
            </div>
        </div>
    </div>
    <button type="button"
            class="provider-button"
            data-ng-click="vmProvider.onAddProviderClick(vmProvider.newProviderName)"
            data-ng-disabled="!vmProvider.newProviderName">
        Add Provider
    </button>
</div>
