<!--
  Usage:

-->

<div class="provider-form">
    <p class="provider-label">Providers:</p>
    <div class="provider-body">
        <input type="text" placeholder="Enter new provider name"/>
        <div class="provider-list">
            <div class="provider-list-item">
                <input type="checkbox"/>
                <p>Provider Name</p>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                <i class="fa fa-trash" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <button type="button" class="provider-button">Add Provider</button>
</div>
